{% extends "gates/base.html" %}
{% load staticfiles %}
{% block title %}{{ group.name }} - BillShare{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error_message }}
    </div>
    {% endif %}
    <div class="global-textheader">
      <div class="global-textheader-left">
        <h1>{{ group.name }}</h1>
      </div>
      <div class="global-textheader-right">
        <div class="dropdown">
          <a href="#" class="global-avatardiv dropdown-toggle" id="avatarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="global-avatar img-thumbnail">
          </a>
          <ul class="dropdown-menu" aria-labelledby="avatarDropdown">
            <li class="dropdown-header">{{ user.first_name }} {{ user.last_name }} (@{{ user.username }})</li>
            <li><a href="#">My Account</a></li>
            <li><a href="{% url 'gates:logout' %}">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="global-navbar">
      <p><a href="{% url 'gates:index' %}">My Groups</a> / {{ group.name }} <span class="group-navdesc">{{ group.desc }}</span></p>
    </div>
    <div class="group-copa">
      <h4>Costs and Payments</h4>
      <br /><br /><br /><br /><br />
      <h1 style="font-weight: 200;">TODO: add record, record list.</h1>
      <h1 style="font-weight: 800;">wait until cost/payment back-end is finished.</h1>
      <br /><br /><br /><br /><br />
    </div>
    <div class="group-memberlist">
      <h4>Members</h4>
      <div class="row">
      {% for member in group.members.all %}
        <div class="col-xs-3 col-sm-2 group-member">
          <a href="#" class="thumbnail">
            <img id="{{ member.id }}-avatar" class="group-members-avatar" src="{% static 'gates/assets/img/avatar-default.png' %}">
            <div class="caption">
              <p>{{ member.first_name }}<span class="hidden-xs"> {{ member.last_name }}</span></p>
            </div>
          </a>
        </div>
      {% endfor %}
        <div class="col-xs-3 col-sm-2 group-member">
          <a href="#" class="thumbnail group-newmember">
            <img id="{{ member.id }}-avatar" class="group-members-avatar" src="{% static 'gates/assets/img/avatar-add.png' %}">
            <div class="caption">
              <p>Invite<span class="hidden-xs"> others</span>?</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="group-manage">
      <h4>Group Settings</h4>
    </div>
    <p>(<a href="{% url 'gates:group_update' group.id %}">Edit</a> / <a href="{% url 'gates:group_delete' group.id %}">Delete</a>) this group.</p>
  </div>
</div>

<!--
<h2>{{ group.name }}</h2>
<p>desc: {{ group.desc }}
<br/>creation_date: {{ group.creation_date }}
<br/>members: {{ group.members.all }}</p>
<p><a href="{% url 'gates:group_delete' group.id %}">delete this group?</a><p/>
<p><a href="{% url 'gates:cost_add' pid=group.id %}">Add a new record</a><p/>

{% if not record_set %}

<p>No records avaliable for this group yet.</p>

{% else %}

<table border>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>amount</th>
            <th>payer/receiver</th>
            <th>date</th>
            <th>last change</th>
            <th>note</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
    {% for record in cost_set %}
        <tr>
            <th>{{ record.id }}</th>
            <th><a href="{% url 'gates:cost_update' pid=group.id pk=record.id %}">{{ record.name }}</a></th>
            <td>{{ record.amount }}</td>
            <td>{{ record.payer }}/{{ record.receiver }}</td>
            <td>{{ record.creation_date }}</td>
            <td>{{ record.last_change_date }}</td>
            <td>{{ record.note }}</td>
            <th><a href="{% url 'gates:cost_delete' pid=group.id  pk=record.id %}">delete?</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
-->
{% endblock %}
{% block footer %}
  <footer>
    <p class="group-creationdate text-center"><b>{{ group.name }}</b> was create on {{ group.creation_date }}</p>
    <p class="text-center">© 2015 BillShare. Xiaoyu Tai, Zheng Yan, Yu Qiu.</p>
  </footer>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  {% for member in group.members.all %}
  var g = gravatar("{{ member.email }}", {size: 278, backup: "retro"});
  $("#{{ member.id }}-avatar").attr('src', g);
  {% endfor %}
</script>
{% endblock %}