{% load staticfiles %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Welcome, {{ user.username }}!</h2>

<p>user: {{ user }}
<br>id: {{ user.username }}
<br>username: {{ user.username }}
<br>full name: {{ user.last_name }}, {{ user.first_name }}
<br>email: {{ user.email }}</p>

<a href="/group/add/">Create a new group</a>

{% if group_list %}
    <ul>
    {% for group in group_list %}
        <li><a href="{% url 'gates:group' group.id %}">{{ group.name }}</a>, <a href="{% url 'gates:group_update' group.id %}">edit</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No groups are available.</p>
{% endif %}

<a href="/accounts/logout/">logout</a>
