{% extends "gates/base.html" %}

{% block title %}Login - BillShare{% endblock %}

{% block content %}
<!-- TODO: merge custom CSS -->
<style type="text/css">
.login-textheader h1,
.login-textheader h4{
  font-weight: 200;
}
</style>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3" style="padding-top: 60px;">
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error_message }}
    </div>
    {% endif %}
    <form method="post" action="{% url 'gates:login' %}">
      {% csrf_token %}
      <div class="login-textheader text-center">
        <h1>BillShare</h1>
        <h4>Welcome back!</h4>
      </div>
      <br/>
      <input type="text" class="form-control input-lg" placeholder="username" name="username" id="username">
      <div class="input-group input-group-lg" style="padding: 20px 0;">
        <input type="password" class="form-control" placeholder="secret" name="password" id="password">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" value="login" href="./">&gt;</button>
        </span>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <hr />
  </div>
</div>
{% endblock %}
