/* BillShare Custom CSS */

/* global */
.footer{
  font-weight: 200;
  font-size: 12px;
  line-height: 0.1em;
  color: #999;
}


/* login & sign-up page */
.login-textheader h1,
.login-textheader h4,
.signup-textheader h1,
.signup-textheader h4{
  font-weight: 200;
}
.login-outterdiv{
  padding: 60px 10px 0;
}
.signup-outterdiv{
  padding: 20px 10px 0;
}
.login-inputgroup{
  padding: 20px 0;
}
.signup-formtext{
  font-weight: 400;
}

/* group-list page aka index */
.index-textheader h1,
.index-textheader h3{
  font-weight: 200;
}
.index-grouplist{
  padding: 0 5px;
}
.index-grouplist .index-group{
  height: 200px;
  padding: 10px;
}
.index-groupinner{
  height: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.75);
  color: #333;
}
.index-groupadd{
  border: 1px dashed #e7e7e7;
  color: #666;
}
.index-groupinner:hover{
  background-color: #fafafa;
}
.index-groupicon{
  padding: 15px 0 0;
  font-size: 40px;
}
.index-groupinner > h2{
  margin: -5px 0 10px;
  font-weight: 200;
}
