/* BillShare Custom CSS */

/* global */
body{
  background-color: #fafafa;
}
a,
.btn,
.index-groupinner,
.index-groupicon{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
}
a{
  color: #337ab7;
}
a:hover,
a:focus{
  color: #286090;
  text-decoration: none;
}
::selection{
  background: #337ab7;
  color: #fff;
}
footer{
  padding: 50px 0;
}
footer > p{
  font-weight: 200;
  font-size: 14px;
  color: #9f9f9f;
}
.global-headcolor{
  width: 100%;
  height: 110px;
  margin: 0 0 -110px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  z-index: -100;
}
.global-textheader h1,
.global-textheader > h4{
  font-weight: 200;
}
.global-textheader{
  padding: 15px 0 0;
}
.global-textheader-left{
  float: left;
  margin: 0 0 -2px;
}
.global-textheader-right{
  float: right;
  padding: 14px 0 0;
}
.global-avatardiv{
  max-width: 50px;
  height: 50px;
}
.global-avatar{
  width: 50px;
  height: 50px;
}
.global-avatar:hover{
  border-color: #337ab7;
}
.global-navbar{
  clear: both;
  margin: 0 0 20px; 
}

/* login & sign-up page */
.login-outterdiv{
  padding: 120px 10px 0;
}
.signup-outterdiv{
  padding: 50px 10px 0;
}
.login-inputgroup{
  padding: 20px 0;
}
.signup-formtext{
  font-weight: 400;
}

/* group-list page aka index */
.index-grouplist{
  clear: both;
  padding: 0 5px;
  margin: 60px -15px 30px;
}
.index-grouplist .index-group{
  height: 200px;
  padding: 10px;
}
.index-groupinner{
  height: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
}
.index-groupadd{
  border: 1px dashed #e7e7e7;
  color: #666;
}
.index-groupinner:hover{
  background-color: #f7f7f7;
  border-color: #337ab7;
}
.index-groupinner:hover .index-groupicon{
  color: #337ab7;
}
.index-groupicon{
  padding: 15px 0 0;
  font-size: 40px;
  color: #9f9f9f;
}
.index-groupinner > h2{
  margin: -5px 0 10px;
  font-weight: 200;
}

/* group detail aka group.html  */
.group-navright{
  margin: 0 0 -20px;
}
.group-navdesc{
  color: #9f9f9f;
}
.group-creationdate{
  color: #9f9f9f;
  font-weight: 200;
}
.group-creationdate b{
  color: #7f7f7f;
  font-weight: 200;
}


