<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BillShare</title>
    <!-- Allow web app to be run in full-screen mode. -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Configure the status bar. -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
    <!-- Custom css file -->
    <link rel="stylesheet" href="assets/css/index.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Start of page .container -->
    <div class="container">
      <!-- Start of popup modal //for editing record -->
<!-- >>> editing modal to be finished!!! -->
      <div class="modal fade" id="editRecord" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit record</h4>
            </div>
            <div class="modal-body">
              <div class="form-group hidden-xs">
                <div class="input-group input-group-lg date" id="datetimepicker">
                  <input type="text" class="form-control" id="datetimepicker-input" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
              <div class="form-group">
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" onclick="toggleUserA();" id="edit-UserA">Zheng</button>
                  </div>
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" disabled="true">paid</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default" onclick="toggleCurrency();" id="edit-currency">$</button>
                  </div><!-- /btn-group -->
                  <input type="text" id="edit-amount" class="form-control" placeholder="100,000.00">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg" id="edit-things" placeholder="dinner">
              </div>
              <div class="form-group">
                <div class="btn-group btn-group-justified" role="group">
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" onclick="toggleCategory();" id="edit-category">for</button>
                  </div>
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" onclick="toggleUserB();" id="edit-UserB">house</button>
                  </div>
                </div>
              </div>
              <div class="form-group hidden-xs">
                <textarea class="form-control input-lg" rows="3" placeholder="add note here!"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- Start of .row with responsive design -->
      <div class="row">
        <!-- Header, total owes with some quick options -->
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="title">4305 Rowalt Dr. Apt. 101</h1>
          <div class="alert alert-info header" role="alert">
            <p id="owe-text">Loading</p>
            <p><button class="btn btn-primary" role="button" onclick="updateInputs(o);" id="paid-back">I paid back!</button> <button class="btn btn-default" role="button" onclick="updateInputs(rent);">I paid rent!</button></p>
          </div>
          <hr />
        </div>
        <!-- Inputs group with add button -->
        <div class="col-lg-10 col-lg-offset-1 main-inputs">
          <div class="row">
            <!-- Visible on mobile devices, toggle the input -->
            <div class="col-sm-12 visible-sm visible-xs">
              <button type="button" class="btn btn-default btn-lg btn-block" onclick="toggleInputs();" id="showHideButton">Add</button>
            </div>
            <!-- Main inputs group -->
            <div class="col-xs-12">
              <div class="row collapse in" id="collapseInputs">
                <!-- Main inputs > User A and "paid" text -->
                <div class="inputs col-sm-6 col-md-3">
                  <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group btn-group-lg" role="group">
                      <button type="button" class="btn btn-default" onclick="toggleUserA();" id="UserA">Zheng</button>
                    </div>
                    <div class="btn-group btn-group-lg" role="group">
                      <button type="button" class="btn btn-default" disabled="true">paid</button>
                    </div>
                  </div>
                </div>
                <!-- Main inputs > Currency and Amout -->
                <div class="inputs col-sm-6 col-md-4">
                  <div class="input-group input-group-lg">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default" onclick="toggleCurrency();" id="currency">$</button>
                    </div><!-- /btn-group -->
                    <input type="text" id="amount" class="form-control" placeholder="100,000.00">
                  </div>
                </div>
                <!-- Main inputs > Name -->
                <div class="inputs col-sm-6 col-md-2">
                  <input type="text" class="form-control input-lg" id="things" placeholder="dinner">
                </div>
                <!-- Main inputs > Category and User B -->
                <div class="inputs col-sm-6 col-md-3">
                  <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group btn-group-lg" role="group">
                      <button type="button" class="btn btn-default" onclick="toggleCategory();" id="category">for</button>
                    </div>
                    <div class="btn-group btn-group-lg" role="group">
                      <button type="button" class="btn btn-default" onclick="toggleUserB();" id="UserB">house</button>
                    </div>
                  </div>
                </div>
                <!-- Main inputs > The add button for smaller screen [sm, xs] -->
                <div class="col-sm-12 visible-sm visible-xs">
                  <button type="button" class="btn btn-success btn-lg btn-block" onclick="hideInputs(); addRecord();">Add</button>
                </div>
              </div>
            </div>
            <!-- Main inputs > The add button for larger screen [md] -->
            <div class="col-sm-12 visible-md">
              <button type="button" class="btn btn-success btn-lg btn-block" onclick="addRecord();">Add</button>
            </div>
          </div>
          <hr />
        </div>
        <!-- Main inputs > The add button for desktop screen [lg] -->
        <div class="visible-lg col-md-1 add-btn">
          <button type="button" class="btn btn-success btn-lg" onclick="addRecord();">Add</button>
        </div>
        <!-- All records in monthly view, will render by js -->
        <div class="col-lg-10 col-lg-offset-1 records" id="records">
          <!-- //Load more buttom in future
          <div class="text-center">
            <button type="button" id="loadMore" data-loading-text="Loading..." class="btn btn-default">Load more</button>
          </div> -->
        </div>
      </div><!-- /.row -->
      <!-- Start of page footer -->
      <footer>
        <hr />
        <p class="text-center footer">© 2015 BillShare. Xiaoyu Tai, Zheng Yan.</p>
      </footer>
    </div><!-- /.container -->
    <!-- Loading all js files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/moment.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.js"></script>
    <!-- To-do: merge js files -->
    <script src="assets/js/ui.js"></script>
    <script src="assets/js/record_view.js"></script>
    <script src="assets/js/set.js"></script>
    <script src="assets/js/test.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>